/**
 * Netflicker styles, author Amman Vedi
 */


.nfContainer {

    min-height: 150px;
    overflow-x: scroll;

}

.nfItemScroller {
    width: 3000px;
    min-height: 146px;
    overflow-y: visible;


}

.fadeGradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+1,000000+100&amp;0+0,1+100 */
    background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, rgba(125,185,232,0.01) 1%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(125,185,232,0.01) 1%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(125,185,232,0.01) 1%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}

.nfItem {
    background-color: aquamarine;
    /* width: 400px; */
    /* height: 230px; */
    width: 250px;
    height: 144px;
    margin: 0px;
    display: inline-block;
    margin-bottom: 30px;
    margin-top: 60px;
    background-size: cover;
    margin-right: 3px;

}

.nfItemHover {
    -webkit-transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 0.985);
    -moz-transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 0.985);
    -o-transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 0.985);
    transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 0.985); /* custom */
}

.nfItemHover:hover {
    width: 370px;
    height: 210px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.nfItemHover .nfOverlayHolder {

    opacity: 1;

}

.nfOverlayHolder {
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 0.985);
    -moz-transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 0.985);
    -o-transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 0.985);
    transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 0.985); /* custom */
}

.nfExtendedDisplay {
    width: 100%;
    background-color: black;
    -webkit-transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 0.985);
    -moz-transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 0.985);
    -o-transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 0.985);
    transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 0.985); /* custom */
}

.nfExtendedDisplay.open {
    height: 100px;
}

.nfExtendedDisplay.closed {
    height: 0px;
}

.largeItem .nfOverlayHolder {

    opacity: 1;

}

.nfOverlayMeta {


}

.nfOverlayShadow {
    width: 100%;
    height: 100%;
}

.largeItem {
    width: 370px;
    height: 210px;
    margin-bottom: 0px;
    margin-top: 0px;

}

.nfActionIcon {

}

.nfCloseIcon {

}

/**
 * Scroller Classes
 */

.nfScrollerPaginationControl {

}

.nfScrollerPaginationLeft {

}

.nfScrollerPaginationRight {

}